* {
   padding: 0px;
   margin: 0px;
   font-family: Lato, sans-serif;
}

body {
   background-color: #dae8e8;
}

#header {
   height: 60px;
   box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
   background-color: #ffffff;
}

#header>img {
   width: 9%;
   margin-left: 100px;
   margin-top: 15px;
}

#main_box {
   width: 90%;
   margin: auto;
   margin-top: 40px;
   margin-bottom: 30px;
   height: 700px;
   display: flex;
   /* border: 1px solid; */
}

#box_form>div>h3,
p {
   padding-top: 10px;
}

#box_form>p>span {
   color: black;
   font-weight: bold;
}

#main_box>div {
   width: 50%;
   /* border: 1px solid; */
}

#main_box>div>#heading {
   color: #304455;
   font-size: 35px;
   font-weight: lighter;
}

#main_box>div>p {
   color: #304455;
   font-size: 16px;
   font-family: "Nunito Sans", sans-serif;
   ;
   font-weight: lighter;
}

#main_box>div>form>p {
   color: #304455;
   font-size: 16px;
   font-family: "Nunito Sans", sans-serif;
   ;
   font-weight: lighter;
}

#box_pera>div {
   border: .5px solid rgb(201, 197, 197);
   margin: auto;
   margin-top: 80px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

#box_pera>div>h3 {
   padding-left: 10px;
   padding-top: 20px;
   padding-right: 60px;
   font-size: 28px;
   color: #304455;
   font-weight: lighter;
}

#box_pera>div>h3>span {
   color: #28A745;
   font-weight: lighter;
}

#box_pera>div>img {
   margin-left: 220px;
   margin-top: 10px;
   margin-bottom: 50px;
   width: 100px;
   height: 100px;
   background-color: #28A745;
   border-radius: 300px;
}

#form>input {
   width: 90%;
   height: 40px;
   padding-left: 10px;
   background-color: #ffffff;
   border: 1px solid rgb(125, 48, 125);
   border-radius: 5px;
}

#form>p {
   padding-top: 20px;
   padding-bottom: 10px;
}

#check_box {
   padding-top: 25px;
   background-color: #ffff;
   width: 70%;
   height: 40px;
   color: #304455;
}

#check {
   margin-left: 20px;
   margin-right: 10px;
}

#submit {
   background-color: #13b562;
   border-radius: 5px;
   margin-top: 10px;
   color: #ffffff;
   font-size: 20px;
   width: 160px;
   padding: 2%;
   border: 0px;
   font-weight: lighter;
}

#help_btn {
   margin-top: 100px;
   margin-left: 440px;
   width: 100px;
   height: 40px;
   font-size: 20px;
   background-color: #13b562;
   color: #304455;
   border-radius: 30px;
   border: 3px solid #32de84;
}

#empty {
   height: 70px;
   background-color: #f2eff5;
}

#user_name {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

#user_name>div>p {
   padding-top: 20px;
   padding-bottom: 10px;
   color: #304455;
}

#user_name>div>input {
   padding-left: 10px;
   background-color: #ffffff;
   border: 1px solid rgb(125, 48, 125);
   width: 225px;
   height: 40px;
   border-radius: 5px;
}

#checkbox_div {
   display: flex;
   width: 40%;
   border: .5px solid rgb(201, 197, 197);
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   background-color: #ffff;
   margin-top: 20px;
}

#recpatcha {
   width: 50px;
}

#checkbox_div>#recpatcha>img {
   width: 100%;
   background-color: #ffff;
   padding-top: 6px;
}