* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/* body{
  border: 1px solid red;
} */
.header {
  width: 100%;
  height: 480px;
  /* border: 1px solid red; */
  /* display: flex; */
  text-align: center;
  background-image: linear-gradient(180deg, #113630, #174c43);
}
.header1 > h1 {
  color: white;
  font-size: 55px;
  align-items: center;
  padding: 50px 0px 20px 0px;
  /* margin-bottom: 40px; */
}
.header1 > h1 + p {
  color: white;
  font-size: 28px;
  margin-bottom: 30px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle {
  background: white;
  width: 4rem;
  height: 2rem;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.toggle_btn {
  display: inline-block;
  background: #00c66b;
  height: 90%;
  width: 50%;
  border-radius: 50%;
  transition: all 0.5s;
}
.night-mode {
  transform: translate(100%);
}
.wrapper > p {
  /* margin-right: 25px; */
  /* font-size: 14px; */
  margin-top: -20px;
  color: #00c66b;
  text-transform: uppercase;
}
.header1 > p {
  font-size: 25px;
  color: #00c66b;
  margin-bottom: 60px;
}
.header2 {
  margin-top: 70px;
  width: 90%;
  height: 800px;
  /* border: 1px solid red; */
  display: flex;
  margin: auto;
  /* position: absolute; */
}
.header2 > div {
  width: 40%;
  height: 100%;
  /* border: 1px solid black; */
  margin-left: 27px;
}
.subdiv1 {
  height: 45%;
  /* border:1px solid green; */
  padding-left: 15px;
  text-align: left;
  background-color: #e8f8f2;
  border-radius: 18px 18px 0px 0px;
  /* margin-bottom: 20px; */
}
.part1 {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.part2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.part1 > a > img {
  width: 40%;
  margin-right: 2px;
}
.part1 > p {
  /* padding-left: 10px; */
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  color: #6d6d6d;
  font-size: 13px;
  text-align: left;
}
.subdiv1 > p:first-child {
  color: #133d36;
  font-size: 28px;
  line-height: 24px;
  font-weight: 800;
  text-align: left;
  /* font-family: "Noto Sans", sans-serif; */
  padding: 40px 0px 10px 0px;

  /* margin-top: 40px; */
}
.subdiv1 > p:first-child:hover {
  color: #00c66b;
}
.part2 + p {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 13px;
}
.part2 + p + p {
  margin-top: 20px;
  font-size: 16px;
}
.part2 + p + p + p {
  margin-top: 20px;
  color: #133d36;
  font-size: 16px;
  font-style: italic;
}
.subdiv1 > a > button {
  background-color: #00c66b;
  width: 95%;
  padding: 13px 0px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 12px;
  border: 1px solid #00c66b;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
}
.subdiv1 > a > button:hover {
  background-color: white;
  /* border: 3px solid green; */
  color: #00c66b;
}
.subdiv2 {
  /* margin-top: 30px; */
  height: 55%;
  padding-left: 13px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0px 0px 18px 18px;
  text-align: left;
}
.price-list {
  display: flex;
  align-items: center;
  font-size: 17px;
}
.price-list > img {
  width: 10%;
}
.price-list > p {
  font-size: 20px;
  /* margin-top: 30px; */
}

.new-price-list-item > span {
  font-size: 23px;
  font-weight: bold;
}
.secondnew-price-list-item > span {
  color: #133d36;
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
  font-weight: 600;
}
.header2 > {
  /* display: none; */
  background-color: #d7eef2;
}
.header2 {
  display: none;
}

.header2.show {
  display: flex;
}
.second-div > div:first-child {
  background-color: #d7eef2;
}
.third-div > div:first-child > p + p {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 4px;
  margin-bottom: 15px;
}
.third-div > div:first-child > p + p + p + p {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 15px;
}
.third-div .subdiv1 > p + p + p {
  color: #133d36;
  font-size: 14px;
  /* font-style: italic; */
  margin-bottom: 70px;
}

/* Day 3 */
#first {
  width: 80%;
  height: 250px;
  /* border: 1px solid red; */
  display: flex;
  margin: auto;
  /* margin-top: 120px; */
}
#first > div {
  width: 31%;
  height: 70%;
  /* border: 1px solid black; */
  margin: auto;
  /* margin-right:10px;
    margin-left: 10px; */
}
#first > div > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
#first > div > p {
  /* font-size: 20px; */
  margin-top: 10px;
  font-size: 16px;
}
#second {
  width: 100%;
  height: 450px;
  /* border: 1px solid red; */
  margin-top: 100px;
}
#head {
  padding-top: 25px;
  padding-bottom: 25px;
  /* border: 1px solid; */
  background-color: rgba(42, 130, 115, 0.9);
  position: static;
}
#head > div {
  display: flex;
  justify-content: center;
}
#head > div > h1 {
  font-size: 50px;
  font-weight: bold;
}
#head > div > h1:first-child {
  color: white;
}
#head > div > #color-head {
  color: #00c66b;
}
#second {
  background-color: #174c43;
}
#after-head {
  width: 20%;
  margin-left: 90px;
  /* margin-top: 50px; */
  /* border: 1px solid black; */
  margin-top: -50px;
  position: relative;
}
#after-head > img {
  width: 30%;
}
#second #para {
  width: 80%;
  margin: auto;
}
#second #para > p {
  font-size: 29px;
  color: white;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 35px;
}
#last {
  display: flex;
  align-items: center;
}
#last #first-last > div {
  width: 30%;
  /* border: 1px solid red; */
  margin-right: 60px;
}
#last #first-last > div:first-child > img {
  margin-left: 150px;
  width: 55%;

  border-radius: 50%;
}
#last #first-last {
  display: flex;
  /* border: 1px solid; */
  align-items: center;
  color: white;
}
#last #first-last > div:last-child > p {
  font-size: 20px;
}
#last > div:last-child > img {
  width: 60%;
}
#faq {
  width: 90%;
  height: 1250px;
  /* border: 1px solid red; */
  display: flex;
  margin: auto;
  margin-top: 50px;
}
#faq > div {
  width: 50%;
  height: 100%;
  /* border: 1px solid green; */
}
#faq > div:first-child {
  margin-left: 50px;
  text-align: left;
}
#faq > div:last-child {
  text-align: center;
}
#faq > div:last-child > img {
  width: 75%;
  margin-top: 60px;
}
.que {
  margin-top: 40px;
}
.que > h1 {
  margin-bottom: 20px;
  color: #174c43;
}
.que > h2 {
  margin-bottom: 10px;
  color: #174c43;
}
.que > p {
  font-size: 16px;
  color: #5f5f5f;
}
.new-price-list-item > span {
  font-size: 18px;
  margin-top: 10px;
}
.new-price-list-item > div > p {
  font-size: 16px;
  color: #5f5f5f;
  line-height: 20px;
}
.price-list > p {
  font-size: 16px;
  color: #5f5f5f;
}
/* #outer-header{
  position: relative;
  width:100%;
  height: 100%;
} */

/* medium screen  480px to 720px*/
@media all and (min-width: 480px) and (max-width: 720px) {
  /* Annually section start */
  .header2 {
    margin-top: -50px;
    flex-direction: column;
    height: auto;
   
  }
  .header2 > div {
    width: 80%;
    height: 100%;
    margin: auto;
    margin-bottom: 50px;
   
  }
  .subdiv1 {
  height: 27%;
  }
  .subdiv2{
     height: 73%;
      padding-bottom: 20px;
  }

  #first {
  width: 80%;
 height: 750px;
  flex-direction: column;
  margin-top: 0px;
   
  
}
 #first>div{
  width: 80%;
  height: 100px;

 }
 #first>div>img{
  
  height: 170px;
 }

  /* .subdiv1 > a > button{
    margin-top: 200px;
  } */
/* Annually section end */
}

/* small -320px to 479px */
@media all and (min-width: 320px) and (max-width: 479px) {
}
